@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root { /* custom property */
    --main-color: #31394b;
    --text-color:#9AB7EF;
    --bg-color:#161C27;
    --header-color: #373b69;
    --additional-color:#161C27;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}
header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color:var(--header-color);
}
.search {
    background-color: transparent;
    border: 2px solid var(--additional-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}
.search::placeholder {
    color: var(--text-color);
}
.search:focus {
    outline: none;
    background-color: var(--bg-color);
}
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.movie {
    width: 300px;
    margin: 1rem;
    background-color: var(--header-color);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.movie img {
    width: 100%;
}
.movie-info {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3 {
    margin-left: 0.5rem;
}
.overview {
    display: none;
    color: #fff;
    margin: 10px;
    max-height: 100%;
}
.overview p {
    margin: 0 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}
.overview h3 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.movie-info span{
    background-color: var(--additional-color);
    border-radius: 50%;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie:hover .overview {
    display: block;
    transition: 0.3s ease-in;
}
.movie-info span.good {
    color: #00FF00;
}
.movie-info span.average {
    color: #F4A460;
}
.movie-info span.poor {
    color: 	#DC143C;
}   